<!DOCTYPE html>
<html>
<head>
    <title>Backbone</title>
    <script src="static/js/zepto.min.js"></script>
    <script src="static/js/underscore-min.js"></script>
    <script src="static/js/backbone-min.js"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div id="divRegister">
        UserName <input type="text" id="username" placeholder="Username"><br /><br />
          Password : <input type="password" id="password" placeholder="Paasword"><br /><br/>
          <button id="cmdAddClient">REGISTER</button>
          <button id="login">Login</button>
        <br>
    </div>

    <div id="divLogin">
        UserName <input type="text" id="user_name" placeholder="Username"><br /><br />
          Password : <input type="password" id="pass_word" placeholder="Paasword"><br /><br/>
          <button id="cmdAddClient">REGISTER</button>
          <button id="login">Login</button>
        <br>
    </div>

</body>
<script src="static/js/custom.js"></script>
</html>
